<form action="/user/register" method="post">
    <div class="container">
        <label><b>别名</b></label>
        <label>
            <input type="text" placeholder="输入昵称" name="nickName" required>
        </label>
        <label><b>用户名</b></label>
        <label>
            <input type="text" placeholder="输入用户名" name="username" required>
        </label>
        <label><b>密码</b></label>
        <label>
            <input type="text" placeholder="输入密码" name="password" required>
        </label>
        <button type="submit">提交</button>
    </div>
</form>